In [1]:
import numpy as np
import pandas as pd

In [2]:
inpath = "painters"
text = open(inpath).read()

In [42]:
items = text.split("\n")
while(True): 
    try:
        items.remove("")
    except ValueError:
        break
items = items[6:]
for item in items:
    item = item.replace("\t", "")
butches = [items[i:i+7] for i in range(0, len(items), 5)]

df = pd.DataFrame(columns=["Artist", "Name", "date", "price", "comments", "repeat_sale"])
    
df.Artist = [x[1].strip().rstrip() for x in butches]
df.repeat_sale = [int("REPEAT SALE" in x[2]) for x in butches]
df.Name = [x[2] for x in butches]
#replacing REPEAT SALE
df.Name = df.Name.apply(lambda x: x.replace("REPEAT SALE", ""))

df.date = [x[3] for x in butches]
df.price = [x[4] for x in butches]
df.comments = [x[2][x[2].find("("):].replace("(", "").replace(")", "").replace("REPEAT SALE", "") for x in butches]
#replacing comments
df.Name = df.Name.apply(lambda x: x[:x.find("(")].strip().rstrip())

In [43]:
df.iloc[116:130]

,Artist,Name,date,price,comments,repeat_sale
116,,"Domplatz, Mailand",05.14.2013,"37,125,000","Cathedral Square, Milan",1
117,Edgar Degas,Danseuse au repos,11.03.2008,"37,042,500",,1
118,Andy Warhol,Double Elvis,05.09.2012,"37,042,500",Ferus Type,0
119,Francis Bacon,Portrait of Lucian Freud,02.10.2011,"36,999,812",studiesin 3 parts,0
120,Paul Cézanne,Nature morte aux fruits et pot de gingembre,11.07.2006,"36,976,000",,1
121,Joan Miró,Peinture,06.19.2012,"36,955,820",étoile Bleue,1
122,Yves Klein,Le Rose du bleu,06.27.2012,"36,764,976",RE 22,0
123,Claude Monet,Nymphéas,06.19.2007,"36,659,600",,0
124,Yves Klein,FC1,05.08.2012,"36,482,500",Fire Color 1,0
125,George Stubbs,"Gimcrack on Newmarket Heath, with a trainer, j...",07.05.2011,"36,101,240",,0
126,Jasper Johns,Flag,11.11.2014,"36,005,000",,0
127,Sir Lawrence Alma-Tadema,The finding of Moses,11.04.2010,"35,922,500",,1
128,,"Giudecca, La Donna della Salute and San Giorgio",04.06.2006,"35,856,000",,0
129,Claude Monet,Le grand canal,02.03.2015,"35,633,680",,1

In [45]:
outpath = "arts.csv"
df.to_csv(outpath)